<section class="sectionblue" id="sectionblueid">
    <h2 class="sectionblue__subtitle2">3 Reasons To Puschase</h2>
    <div class="articles">
    <article class="sectionblue__article">
        <h3 class="sectionblue__article--subtitle3">Ut sed metus</h3>
        <p class="sectionblue__article--textsectionblue">Lorem ipsum dolor sit amet, consecteur</p>
    </article>

    <article class="sectionblue__article">
        <h3 class="sectionblue__article--subtitle3">Curabitur ac erat</h3>
        <p class="sectionblue__article--textsectionblue">Mauris mattis urna quis lorem molestie.</p>
    </article>

    <article class="sectionblue__article">
        <h3 class="sectionblue__article--subtitle3">Morbi dictum</h3>
        <p class="sectionblue__article--textsectionblue">Aliquam in dolor et dolor tincidunt.</p>
    </article>
    </div>
    <button class="buttonmore"><span class="buttonmore__textbuttonmore"><a href="https://adalab.es">More reasons</a></span></button>
</section>