<section class="section2">
    <h2 class="section2__subtitle2">3 Reasons To Puschase</h2>
    <article class="section2__article">
        <h3 class="section2__article--subtitle3">Ut sed metus</h3>
        <p class="section2__article--textsection2">Lorem ipsum dolor sit amet, consecteur</p>
    </article>

    <article class="section2__article">
        <h3 class="section2__article--subtitle3">Curabitur ac erat</h3>
        <p class="section2__article--textsection2">Mauris mattis urna quis lorem molestie.</p>
    </article>

    <article class="section2__article">
        <h3 class="section2__article--subtitle3">Morbi dictum</h3>
        <p class="section2__article--textsection2">Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <button class="buttonmore"><span class="buttonmore__textbuttonmore">More reasons</span></button>
</section>