<section class="sectionblue" id="sectionblueid">
	<h2 class="sectionblue__subtitle2">3 reasons to puschase</h2>
	<div class="articles">
		<article class="sectionblue__article">
			<h3 class="sectionblue__article--subtitle3">Ut sed metus</h3>
			<p class="sectionblue__article--textsectionblue">
				Lorem ipsum dolor sit amet, consecteur
			</p>
		</article>

		<article class="sectionblue__article">
			<h3 class="sectionblue__article--subtitle3">Curabitur ac erat</h3>
			<p class="sectionblue__article--textsectionblue">
				Mauris mattis urna quis lorem molestie.
			</p>
		</article>

		<article class="sectionblue__article">
			<h3 class="sectionblue__article--subtitle3">Morbi dictum</h3>
			<p class="sectionblue__article--textsectionblue">
				Aliquam in dolor et dolor tincidunt.
			</p>
		</article>
	</div>
	<div class="box__button">
		<a href="https://adalab.es" target="_blank" class="buttonmore">
			More reasons
		</a>
	</div>
	<div class="boxArrow">
		<a href="#heroid" class="sectionblue__iconarrow2">
			<i
				class="fa-solid fa-arrow-up sectionblue__iconarrow2--iconarrowup"
				style="color: #f26002"
			></i>
		</a>
	</div>
</section>
