// fonts
$font-primary: 'Roboto Slab', serif;
$font-secundary: 'Roboto', sans-serif;

// colors
$orange: #f26002;
$bgd-menu: #0271bc;
$white: #ffffff;
$light-blue: #8ccbea;
$dark-gray: #4a4a4a;
$light-orange: rgb(255, 153, 0);
$text-hover-btn: rgb(58, 59, 61);
$bgd-extra-light-blue: #eff9ff;
$black: #000000;
$dark-blue: #304268;
$green-hover-text: rgb(6, 249, 168);
