.footer {
  background-color: $dark-blue;
  padding: 40px 15px 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
}

.menunav__menulist {
  list-style: none;
  font-family: $font-secundary;
  line-height: 1.88;
  text-align: center;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 22px;
  }
}
.menunav__menulist a:hover {
  color: $green-hover-text;
  transition: all 0.4s ease-in-out;
}
.listlink a {
  color: $white;
  text-decoration: none;
}

.container__copy2023 {
  color: $white;
  text-align: center;
  font-family: $font-secundary;
  font-size: 14px;
  line-height: 2.14;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 22px;
  }
}

.container__textheart {
  color: $white;
  text-align: center;
  font-family: $font-secundary;
  height: 30px;
  font-size: 14px;
  line-height: 2.14;
}

.container__textheart--heart {
  margin: 3px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    gap: 120px;
  }

  .container {
    font-size: 16px;
    order: -1;
  }
}
@media screen and (min-width: 1024px) {
  .footer__container {
    gap: 220px;
  }
}

.container__textheart {
  text-align: start;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 22px;
  }
}
