.header {
  background-color: #0271bc;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 44px;
  height: 44px;
    &__iconmenu {
  margin: auto;
    }
}

@media screen and (min-width : 768px) {

  .header {
    width: 50px;
    height: 50px;
  }

  .header__iconmenu {
    font-size: 19px;
  }
}

@media screen and (min-width : 1280px) {
  .header {
    width: 60px;
    height: 60px;
    font-size: 28px;
  }
}