.header {
  background-color: #0271bc;
  display: flex;
  position: fixed;
  width: 35px;
  height: 35px;
  &__iconmenu {
    margin: auto;
  }
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
  @media screen and (min-width: 1024px) {
    width: 60px;
    height: 60px;
    font-size: 28px;
  }
}

@media screen and (min-width: 768px) {
  .header__iconmenu {
    font-size: 19px;
  }
}
