.hero {
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: center;
}
.hero__title {
    color: #ffffff;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    line-height: 1.31;
    font-size: 42px;
    width: 290px;
    margin-bottom: 10px;
         &--text {
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        width: 290px;
        margin-bottom: 45px;
    }
}

.hero__iconarrow1 {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    margin-bottom: 45px;
    
}
   
.hero__iconarrow1--iconarrowdown{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 11px;
    font-size: 25px;
}

.hero__iconarrow1 a {
    text-decoration: none;
}

@media screen and (min-width : 768px) {

    .hero__iconarrow1 {
        transform: translateY(-5px);
    }

    .hero__title {
        width: 690px;
        height: 212px;
        font-size: 80px;
        line-height: 1.33;
        margin: 340px 0 20px 39px;
    }

    .hero__title--text {
        font-size: 24px;
        width: 450px;
        height: 32px;
        margin: 20px 160px 30px 160px;
    }
}

@media screen and (min-width : 1024px) {
    .hero {
        height: 1000px;
    }
    .hero__iconarrow1 {
        width: 60px;
        height: 60px;
       
    }
    .hero__iconarrow1--iconarrowdown {
        font-size: 30px;
    }
    .hero__title {
        line-height: 1.32;
        font-size: 110px;
        width: 730px;
        height: 264px;
        margin: 470px 150px 0 150px;
    }
    .hero__title--text {
        font-size: 30px;
        width: 550px;
        height: 32px;
        margin: 50px 240px 20px 240px;
    }
}