.sectionblue {
    background-color: #eff9ff;
    grid-template-columns: 1fr;
    grid-template-rows: 120px;
    padding: 30px 15px 60px;
}

.sectionblue__subtitle2 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
}

.sectionblue__article {
    margin-top: 45px;
}

.sectionblue__article--subtitle3 {
    width: 184px;
    height: 30px;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    text-align: center;
    color: #000000;
    margin: auto;
}

.sectionblue__article--textsectionblue {
    color: #000000;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    width: 190px;
    height: 63px;
    margin: auto;
    line-height: 1.67;
}

.buttonmore {
    background-color: #f26002;
    width: 184px;
    height: 45px;
    padding: 0 29.5px 0 30.5px;
    border-radius: 22.5px;
    border: none;
}

.buttonmore__textbuttonmore {
    width: 124px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.25;
    text-align: center;
}
.buttonmore a{
    text-decoration: none;
    color:#ffffff; 
}

.buttonmore a:hover {
    color: blue;
}
.buttonmore a:active {
  color: red;
}
