.sectionwhite {
    background-color: #ffffff;
    height: 310px;
    padding: 30px 15px 45px;
}

.sectionwhite__textblue {
    color: #8ccbea;
    width: 90px;
    height: 30px;
    margin: 0 200px 1px 0;
    font-size: 14px;
    font-family:'Roboto',sans-serif;
    line-height: 2.14;
}

.sectionwhite__subtitle1 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    width: 290px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    margin: 1px 0 15px;
    line-height: 1.25;
}

.sectionwhite__textsectionwhite {
    font-family: 'Roboto', sans-serif;
    color: #4a4a4a;
    width: 290px;
    height: 120px;
    margin: 15px 0 30px;
    font-size: 18px;
    line-height: 1.67;
}

.sectionwhite__buttongo {
    background-color: #ffffff;
    color: #f26002;
    font-size: 20px;
    width: 76px;
    height: 45px;
    margin: 5px 214px 0 0;
    padding: 0 25px 0 25px;
    border-radius: 22.5px;
    border: solid 3px #f26002;
}

.sectionwhite__buttongo--textbuttongo {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 25px;
    height: 45px;
    font-weight: bold;
}