@import 'core/reset';

:root{
   font-size: 62,5%;
}
 /*'Roboto',sans-serif;
 'Roboto Slab',serif;*/
 
/*SECCION HEADER*/
.header{
    background-color: #0271bc;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 44px;
    height: 44px;
}
.iconmenu{
margin: auto;
}

/*SECCION HERO*/
.hero{
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; 
}
.icon2{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: auto;
    width: 45px;
    height: 45px;
    
   
}
.iconarrowdown{
    background-color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 11.7px;
    
}
.hero__title{
    display: flex;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-family:'Roboto Slab',serif;
    line-height: 1.31;
    font-size: 42px;
    width: 290px;
    height: 110px;
    margin: 240px 0 10px 15px;
}
.hero__title--text{
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    width: 290px;
    height: 21px;
    margin: 10px 0 45px 15px;
}
 /*HERO SECTION 1*/
.hero__section1{
   background-color: #ffffff;
    height: 350px;   /* margin: 568px 0 0; */
    width: 320px;
    padding: 30px 15px 45px;
   
        
}

.text1{
    color: #8ccbea;
    width: 90px;
    height: 30px;
    margin: 0 200px 1px 0;
    font-size: 14px;
    line-height: 2.14;
}
.subtitle2{
    font-family: 'Roboto Slab',serif;
    font-size: 24px;
    font-weight: bold;
    width: 290px;
    height: 60px;
    margin: 1px 0 15px;
    line-height: 1.25;
}
.textsection1{
    font-family:'Roboto',sans-serif;
    width: 290px;
    height: 120px;
    margin: 15px 0 30px;
    font-size: 18px;
    line-height: 1.67;
}
.buttongo{
    background-color: #ffffff;
    color: #f26002;
    font-size: 20px;
    width: 76px;
    height: 45px;
    margin: 30px 214px 0 0;
    padding: 0 25px 0 25px;
    border-radius: 22.5px;
    border: solid 3px #f26002;
}
.textbuttongo{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 25px;
    height: 45px;
    line-height: 2.25;
    font-weight: bold;
}
/*HERO SECTION 2*/
.hero__section2 {
    display: grid;
  
    background-color: #eff9ff;
    height: 624px;
   /* margin: 376px 0 0;*/
    padding: 30px 15px 60px;
}
.subtitle3{
    width: 184px;
    height: 30px;
    font-family: 'Roboto Slab',serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    text-align: center;
    color: #000000;
}
.textsection2{
    color: #000000;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    width: 180px;
    height: 63px;
    margin: 30px 2px 0;
    line-height: 1.67;
}
.buttonmore{
    background-color: #f26002;
    width: 184px;
    height: 45px;
    margin: 45px 53px 0;
    padding: 0 29.5px 0 30.5px;
    border-radius: 22.5px;
    border:none;
}
.textbuttonmore{
    color: #ffffff;
    width: 124px;
    height: 45px;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.25;
    text-align: center;
}



/*SECCION FOOTER*/
.footer{
    background-color: #304268;
    height: 465px;  /* margin: 624px 0 0; */
    padding: 60px 15px 45px;

}
.icon3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    /*margin: 602px 137px 442px 138px;
    padding: 11px 12.4px 10px 12px;*/  
}
.iconarrowup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20.6px;
    height: 24px;
  }

.menunav{
    display: flex;
    justify-content: center;
}

.menulist1{
    list-style-type: none;
    width: 73px;
    height: 150px;
    margin: 0 108px 30px 109px;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    color:#ffffff;
    }

.menulist2{
    color: #ffffff;
    text-align: center;
    list-style-type: none;
    font-family: 'Roboto',sans-serif;
    width: 147px;
    height: 90px;
    margin: 30px 71px 30px 72px;
    font-size: 16px;
    line-height: 1.88; 
    }

.copy2023{
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 2.14;
    width: 77px;
    height: 30px;
    margin: 30px auto 0;
}

.heart{
    margin: 3px;
}

.textheart{
    
    color: #ffffff;
    text-align: center;
    font-family:'Roboto',sans-serif;
    width: 320px;
    height: 30px;
    margin: 0 15px 55px;
    font-size: 14px;
    line-height: 2.14;     
}