@import "./core/reset";
@import "./layout/header";
@import "./layout/main";
@import "./layout/sectionwhite";
@import "./layout/sectionblue";
@import "./layout/footer";

:root{
   font-size: 62,5%;
   $color__primary:#ffffff;
   $color__secundary:#f26002;
}



